<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyDoanhNghiep.Properties.Settings.QLDNConnectionString"
            connectionString="Data Source=LAPTOP-6SU0BCG8\THUYLINH;Initial Catalog=QLDN;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyDoanhNghiep.Properties.Settings.QLDNConnectionString1"
            connectionString="Data Source=LEDUONG\LEDUONG;Initial Catalog=QLDN;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>